<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" media="screen,projection" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="~/css/RemoveButtonsInputNumber.css"/>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
    <div id="header" >
        <form class = "form-inline my-2 my-lg-0" method="get" asp-controller="search" asp-action="Index">
            <input class="form-control search mr-sm-2" name="query" id="searchInput" style="width: 50%" placeholder="автор или название" />
            <button class="btn btn-outline-success my-2 my-sm-0"  id="searchInput" type="submit">Искать</button>
        </form>
        <span>
            @{              
                if(Context.Session.TryGetCart(out Cart? cart) && cart?.TotalCount > 0)
                {
                    <a href="@Url.Action("Index", "Order")">Товаров: @cart.TotalCount на сумму: @cart.TotalPrice</a>
                }
                else
                {
                    @:Корзина пуста
                }
            }
        </span>
    </div> 
      
    <div>
        <nav id="navigation">
            <a id="navcontent" asp-controller="Home" asp-action="Index">Home</a>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>

    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
