@model ConfirmationModel

@{
    ViewData["Title"] = "Подтверждение мобильного";
}

<h1>Подтверждение мобильного телефона.</h1>

<form asp-action="StartDelivery" method="post">
    <input type="hidden" name="orderId" value="@Model.OrderId" />
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />
    <div>
        <label for="code">Код подтверждения</label>
        <input type="text" name="code" placeholder="0000"/>
        @if(Model.Errors.ContainsKey("code"))
        {
            <small>@Model.Errors["code"]</small>
        }
    </div>
</form>

<form asp-action="SendConfirmationCode" method="post">
    <input type="hidden" name="orderId" value="@Model.OrderId"/>
    <div>
        <label for="cellPhone">Мобильный телефон</label>
        <input type="text" name="cellPhone" value="@Model.CellPhone" />
    </div>
    <button type="submit">Повторить код</button>
</form>
