@model Form

@{
    ViewData["Title"] = "Параметры доставки";
}

<div class="column-container">
    <div class="container-label">
        <h3>Параметры доставки</h3>
    </div>
    <div class="container-content">
        <form action="@Url.Action(nameof(OrderController.NextDelivery))" method="post">
            <div class="container-content-form">
                <input type="hidden" name="serviceName" value="@Model.ServiceName" />
                <input type="hidden" name="step" value="@Model.Step" />
                @foreach (var parameter in Model.Parameters)
                {
                    <input type="hidden" name="parameters[@parameter.Key]" value="@parameter.Value" />
                }
                @foreach (var field in Model.Fields)
                {
                    if (field is SelectionField selectionField)
                    {
                            <label for="parameters[@field.Name]">@field.Label</label>
                            <select name="parameters[@field.Name]">
                                @foreach (var item in selectionField.Items)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                    }
                }               
            </div>
            <button type="submit">Далее</button>
        </form>
    </div>
</div>



