@model OrderModel

@{
    ViewData["Title"] = "Список товаров в корзине";
}

<div class="cart-main">

    <div class="cart-head">
        <h1>Корзина</h1>
    </div>

    <div class="cart-body">
        <table class="cart-items-list-table">          
            <tbody class="cart-items-list-table-body">
                @foreach (var item in Model.OrderItems)
                {
                    <tr class="cart-items-list-item-container">
                        <td>
                            <div class="cart-item-description-block">
                                <div class="cart-item-description-block-image">

                                </div>
                                <div class="cart-item-description-block-info">
                                    <p>@item.Author</p>
                                    <p>@item.Title</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>@item.Price.ToString("C")</p>
                        </td>
                        <td>
                            <div class="cart-item-amount-block">                              
                                <form asp-action="@nameof(OrderController.PutAwayBook)" method="post">
                                    <input type="hidden" name="BookId" value="@item.BookId" />
                                    <div class="cart-item-amount-block-buttonMinus">
                                        <button></button>
                                    </div>
                                </form>
                                <div class="cart-item-amount-block-input">
                                    <form action="@Url.Action(nameof(OrderController.UpdateOrderItem))" method="post">
                                        <input type="hidden" name="bookId" value="@item.BookId" />
                                        <input type="number" name="count" value="@item.Count" max="100" min="1" />                                                               
                                    </form>
                                </div>
                                <form asp-action="@nameof(OrderController.AddBook)" method="post">
                                    <input type="hidden" name="BookId" value="@item.BookId" />
                                    <div class="cart-item-amount-block-buttonPlus">
                                        <button></button>
                                    </div>
                                </form>                               
                            </div>                                                                                    
                        </td>
                        <td>
                            <p>@Model.TotalPrice.ToString("C")</p>
                        </td>
                        <td>
                            <form action="@Url.Action(nameof(OrderController.RemoveOrderItem))" method="post">
                                <input type="hidden" name="BookId" value="@item.BookId" />
                                <button type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot class="cart-items-list-table-footer">
            @if(Model.DeliveryPrice != null)
            {
            <tr class="cart-items-list-item-container">
                <td>
                    <p>Цена доставки:</p>
                </td>
                <td>
                    <p>@Model.DeliveryPrice</p>
                </td>
            </tr>
            }
            <tr class="cart-items-list-item-container">               
                <td>
                    <div class="cart-item-block-totalPrice">
                        <p>Итого:</p>
                    </div>                  
                </td>
                <td>
                    <div class="cart-item-block-totalPrice">
                        <p>@Model.TotalPrice.ToString("C")</p>
                    </div>                  
                </td>          
            </tr>
            </tfoot>
        </table>

        <div class="cart-create-order-container">
            <div class="cart-order-container-label">
                <h2>Оформление заказа:</h2>
            </div>
            <div class="cart-order-container-confirmationPhone">
                <h5>Подтвердите номер телефона</h5>
                <form action="@Url.Action(nameof(OrderController.SendConfirmationCode))" method="post">
                    <div>
                        <label for="cellPhone">Мобильный телефон</label>
                        <input type="text" name="cellPhone" placeholder="+79876543210" />
                        @if (Model.Errors.ContainsKey("cellPhone"))
                        {
                            <small>@Model.Errors["cellPhone"]</small>
                        }
                    </div>
                    <button type="submit">Отправить код</button>
                </form>
            </div>            
        </div>       
    </div>

</div>
