@model OrderModel

@{
    ViewData["Title"] = "Список товаров в корзине";
}

<h1>Корзина</h1>

<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Количество</th>
            <th>Цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.OrderItems)
        {
            <tr>
                <td>@item.BookId</td>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>
                    <a type="button" href="@Url.Action(nameof(OrderController.UpdateOrderItem), new{ BookId = @item.BookId, Count = -1})">-</a>
                    @item.Count
                    <a type="button" href="@Url.Action(nameof(OrderController.UpdateOrderItem), new{ BookId = @item.BookId})">+</a>
                </td>
                <td>@item.Price</td>
                <td>
                    <form method="post" href="@Url.Action(nameof(OrderController.RemoveOrderItem), new{ BookId = @item.BookId})">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Итого</td>
            <td>@Model.TotalCount</td>
            <td>@Model.TotalPrice</td>
        </tr>
    </tfoot>
</table>

<form action="@Url.Action(nameof(OrderController.SendConfirmationCode))" method="post">
    <input type="hidden" name="orderId" value="@Model.OrderId" />
    <div>
        <label for="cellPhone">Мобильный телефон</label>
        <input type="text" name="cellPhone" value="+79876543210" />
        @if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small>@Model.Errors["cellPhone"]</small>
        }
    </div>
    <button type="submit">Отправить код</button>
</form>
